

body{
    background-image: url("../images/PL-pic.jpg");  
}

nav{
    width: 960px;
    margin:0 auto;
}

#name{
    Background-color: white;
    color: dodgerblue;
    font-size: 26px;
    width: 70px;
    padding:10px;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
    border-left: 1px solid #bbb;
   
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #111; 
}

li a:active{
    color: red;
}

#content{
    font-size:28px;
    margin:0 auto;
    width:900px;
    height:400px;
    padding:30px;
    background-color: #333;
    margin-top: 15px;
}

#idpic{
    height:150px;
    width:180px;
    margin-top: 15px;
    margin-right: 15px;
    float:left;
}
p{
    
}
 
footer{
    margin:0 auto;
    text-align: center;
    background-color: #333;
    height:25px;
    padding-top:10px;
    width:960px;
    margin-top:15px;
}


form{
    marign:0 auto;
    width:960px;
}




